                /* Global Styles */
                
                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }
                
                html,
                body {
                    height: 100vh;
                    width: 100vw;
                    font-size: 1rem;
                }
                
                body {
                    font-family: 'Raleway', sans-serif;
                    background-image: url("https://i.imgur.com/41Q3v0A.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-attachment: fixed;
                }
                /* Header */
                
                .bg-custom {
                    background-color: #000000;
                }
                
                .logo {
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                }
                
                .page-title {
                    color: #e4871c;
                    font-family: 'Rock Salt', cursive;
                    font-weight: normal;
                    justify-self: flex;
                    font-size: 2em;
                }
                /* Info section */
                
                .wrapper {
                    text-align: center;
                }
                /* Buttons */
                
                .btn {
                    position: relative;
                    z-index: 1;
                    padding: 5px;
                    text-transform: uppercase;
                    font-size: 1.5em;
                }
                
                #restart {
                    margin: 0 auto;
                    background-color: #0fe008;
                    font-size: 1.5rem;
                    width: 2.5rem;
                }
                
                .hidden {
                    display: none;
                }
                /* Dashboard */
                
                .wrapper {
                    margin-top: 20px;
                }
                
                .row {
                    margin: 10px 20px;
                    padding: 5px;
                    align-content: center;
                    flex-wrap: nowrap;
                }
                
                .game-info {
                    font-family: 'Raleway', sans-serif;
                    color: #3b030e;
                    font-size: 1.5em;
                    font-weight: 600;
                }
                /* Game board */
                
                .container {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
                
                .card {
                    width: calc(25% - 10px);
                    margin: 5px;
                    padding: 1%;
                    display: inline-block;
                    height: calc(33.333% - 10px);
                    line-height: 80px;
                    text-align: center;
                    cursor: pointer;
                    box-shadow: 2px 2px #633939;
                }
                
                .back-face {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 900;
                    background-image: url("https://i.imgur.com/bTu45F0.png?1");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                
                .front-face {
                    display: none;
                }
                /* Media Queries */
                
                @media (max-width: 575.98px) {
                    .navbar-text {
                        font-size: 1.1em;
                    }
                    .row {
                        font-size: 0.8em;
                    }
                    .btn {
                        text-transform: uppercase;
                        font-size: 1em;
                    }
                }